<ion-header>
  <ion-toolbar>
    <ion-title>
      Checkbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>End icons and Checkbox</ion-title>

  <ion-list>
    <!-- Old without wrap -->
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>
        Old without wrap: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas dolor lacus. Cras viverra
        purus velit, non elementum leo consectetur et. Fusce quis scelerisque lacus. Mauris augue elit, congue et semper
        rhoncus, lobortis ac odio. Etiam sem tortor, iaculis et ultrices id, laoreet in metus. Etiam iaculis quis eros
        vel varius. Nam dictum vestibulum pharetra. In eu ex nunc. Nullam malesuada sit amet ex vitae egestas. Praesent
        orci elit, porttitor sed dui ornare, feugiat laoreet turpis. Quisque tincidunt accumsan sapien, euismod finibus
        diam finibus accumsan.
      </ion-label>
      <ion-icon slot="end" name="alert-circle"></ion-icon>
    </ion-item>
    <!-- Old with wrap -->
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        Old with wrap: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas dolor lacus. Cras viverra
        purus velit, non elementum leo consectetur et. Fusce quis scelerisque lacus. Mauris augue elit, congue et semper
        rhoncus, lobortis ac odio. Etiam sem tortor, iaculis et ultrices id, laoreet in metus. Etiam iaculis quis eros
        vel varius. Nam dictum vestibulum pharetra. In eu ex nunc. Nullam malesuada sit amet ex vitae egestas. Praesent
        orci elit, porttitor sed dui ornare, feugiat laoreet turpis. Quisque tincidunt accumsan sapien, euismod finibus
        diam finibus accumsan.
      </ion-label>
      <ion-icon slot="end" name="alert-circle"></ion-icon>
    </ion-item>
    <!-- New without wrap -->
    <ion-item>
      <ion-checkbox justify="start" labelPlacement="end">
        New without wrap: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas dolor lacus. Cras viverra
        purus velit, non elementum leo consectetur et. Fusce quis scelerisque lacus. Mauris augue elit, congue et semper
        rhoncus, lobortis ac odio. Etiam sem tortor, iaculis et ultrices id, laoreet in metus. Etiam iaculis quis eros
        vel varius. Nam dictum vestibulum pharetra. In eu ex nunc. Nullam malesuada sit amet ex vitae egestas. Praesent
        orci elit, porttitor sed dui ornare, feugiat laoreet turpis. Quisque tincidunt accumsan sapien, euismod finibus
        diam finibus accumsan.
      </ion-checkbox>
      <ion-icon slot="end" name="alert-circle"></ion-icon>
    </ion-item>
    <!-- New with span wrap -->
    <ion-item>
      <ion-checkbox justify="start" labelPlacement="end">
        <span class="ion-text-wrap">
          New with span wrap: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas dolor lacus. Cras
          viverra purus velit,
          non elementum leo consectetur et. Fusce quis scelerisque lacus. Mauris augue elit, congue et semper rhoncus,
          lobortis ac odio. Etiam sem tortor, iaculis et ultrices id, laoreet in metus. Etiam iaculis quis eros vel
          varius. Nam dictum vestibulum pharetra. In eu ex nunc. Nullam malesuada sit amet ex vitae egestas. Praesent
          orci elit, porttitor sed dui ornare, feugiat laoreet turpis. Quisque tincidunt accumsan sapien, euismod
          finibus diam finibus accumsan.
        </span>
      </ion-checkbox>
      <ion-icon slot="end" name="alert-circle"></ion-icon>
    </ion-item>
    <!-- New with ion-text wrap -->
    <ion-item>
      <ion-checkbox justify="start" labelPlacement="end">
        <ion-text class="ion-text-wrap">
          New with ion-text wrap: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas dolor lacus. Cras
          viverra purus velit,
          non elementum leo consectetur et. Fusce quis scelerisque lacus. Mauris augue elit, congue et semper rhoncus,
          lobortis ac odio. Etiam sem tortor, iaculis et ultrices id, laoreet in metus. Etiam iaculis quis eros vel
          varius. Nam dictum vestibulum pharetra. In eu ex nunc. Nullam malesuada sit amet ex vitae egestas. Praesent
          orci elit, porttitor sed dui ornare, feugiat laoreet turpis. Quisque tincidunt accumsan sapien, euismod
          finibus diam finibus accumsan.
        </ion-text>
      </ion-checkbox>
      <ion-icon slot="end" name="alert-circle"></ion-icon>
    </ion-item>

  </ion-list>

  <ion-title>Input and Checkbox</ion-title>
  <ion-list>

    <!-- Documented syntax -->
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-input value="Documented syntax"></ion-input>
      <ion-icon slot="end" name="alert-circle"></ion-icon>
    </ion-item>

    <!-- try trying to unify it -->
    <ion-item>
      <ion-checkbox justify="start" labelPlacement="end">
        <ion-input value="Try trying to unify it"></ion-input>
      </ion-checkbox>
      <ion-icon slot="end" name="alert-circle"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>