<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="signinForm" (ngSubmit)="signin($event)">

    <ion-list>
      <ion-item>
        <ion-checkbox justify="start" labelPlacement="end" formConrtolName="terms">terms</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start" formControlName="termsOld"></ion-checkbox>
        <ion-label>terms old sintax</ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" fill="outline" type="submit">
      submit
    </ion-button>

  </form>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>